* {
    padding: 0px;
    margin: 0px;
}
article {
    border: 1px solid black;
    padding: 2em;
    background-color: lightblue;
    

}
aside 
{
    border: 1px solid blue;
    padding:  2em;
   
}
h2, h3{
    color: red;
}

